* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  border-left: 30px solid white;
  border-right: 30px solid white;
  background-color: #f3d9c2;
  margin-top: 25px;
}

body:before {
    content: "";
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    height: 30px;
    z-index: -1;
}

body:before {
  top: 0;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  top: -100px;
  margin: 0 auto;
  z-index: 999;
}

header.clone {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 1s top cubic-bezier(.3,.73,.3,.74);
}

header img {
  display: block;
  width: 80px;
  margin: 15px auto;
}

body.down header.clone {
  top: 0;
}

.hero {
  height: 550px;
}

.hero .logo {
  display: block;
  margin: auto auto;
  padding-top: 215px;
  z-index: 2;
}

.hero .chillin {
  position: absolute;
  top: 247px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 0;
}

.tagline {
  font-size: 2rem;
  font-style: italic;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 80px;
  color: white;
  border: 1px solid white;
  padding: 20px 100px;
}

hr {
  color: #86786F;
  border-style: solid;
  border: 1px solid #fff;
  margin: 70px 0;
  transform:scaleY(0.5);
}

main {
  margin: 0 auto;
  width: 70%;
}

main h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 0;
  font-size: 1.8rem;
}

.our-story {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.our-story img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 50px;
}

.our-story hr {
  margin: 20px 0;
  border-color: #86786F;
  transform:scaleY(0.5);
}

.story {
  width: 280px;
}

.our-story p {
  color: #86786F;
  font-weight: 400;
}

h2 {
  font-style: italic;
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
  margin-top: -35px;
}

.soups {
  z-index: 1;
  margin: 40px 0;
}

.soup-desc {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 50%;
  background-color: #B78681;
  transition: all 0.5s ease;
  cursor: pointer;
}

.soup-desc img {
  max-width: 100%;
  max-height: 100%;
}

.soup-desc:hover .overlay {
  opacity: 0.8;
  transition: all 0.5s ease-in;
}

.overlay h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 400;
  font-style: italic;
  padding: 4px;
  width: 150px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.location {
  color: white;
  font-weight: 400;
  margin: 30px;
}

.location-list {
  display: flex;
  justify-content: space-around;
}

.location h4 {
  color: #86786F;
  font-family: "mrs-eaves", serif;
}

.location h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #86786F;
}

.location h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #86786F;
}

.limbo {
  display: block;
  margin: 10px auto;
  transform: rotateY(180deg);
  width: 200px;
  z-index: -99;
}

.contact {
  height: 300px;
  text-align: center;
  display: flex;
}

.contact a {
  display: block;
  margin: 20px;
  color: #86786F;
  font-family: "mrs-eaves";
}

.contact-info {
  width: 50%;
  margin-top: 60px;
}

.carrot {
  width: 50%;
}

.contact p {
  color: #86786F;
}

.contact img {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.copyright p {
  text-align: center;
  color: #86786F;
  display: block;
  padding-bottom: 100px;
}

footer {
  height: 30px;
  width: 100%;
  background-color: white;
  z-index: 999;
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 1020px) {
  .our-story {
    width: 100%;
  }

  .our-story img {
    margin-left: 0;
  }
}

@media only screen and (max-width: 815px) {
  .our-story img {
    width: 200px;
    height: 200px;
  }

  @media only screen and (max-width: 680px) {
    .our-story {
      flex-wrap: wrap;
    }

    .our-story img {
      margin: 0 auto;
    }

    .story {
      width: 100%;
    }

    .location-list {
      flex-direction: column;
    }

    .location {
      text-align: center;
    }

    .column1 {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .limbo {
      width: 160px;
    }

    .contact {
      flex-direction: column;
      height: 400px;
    }

    .contact-info {
      width: 100%;
    }

    .carrot {
      width: 100%;
    }

    .carrot img {
      width: 200px;
    }

    .copyright p {
      padding-bottom: 60px;
    }
  }
