* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-left: 40px solid white;
  border-right: 40px solid white;
  background-color: #f3d9c2;
}

header {
  height: 610px;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    height: 40px;
}

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}

header img {
  display: block;
  margin: auto auto;
  padding-top: 300px;
}

hr {
  color: white;
  border-style: solid;
  border: 1px solid #F2E6DD;
  margin: 50px 0;
}

main {
  margin: 0 auto;
  width: 70%;
}

main h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 0;
}

.our-story {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.our-story img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 50px;
}

.our-story hr {
  margin: 20px 0;
}

.story {
  width: 280px;
}

.our-story p {
  color: white;
  font-weight: 400;
}

h2 {
  font-style: italic;
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  margin-top: -20px;
}

.soups {
  z-index: 99;
  margin: 40px 0;
}

.location {
  color: white;
  font-weight: 400;
  margin: 20px;
}

.location-list {
  display: flex;
  justify-content: space-around;
}

.location h5 {
  font-size: 1rem;
  font-weight: 400;
}

.location h6 {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 1020px) {
}
